<div class="title"><%= t "subjects.create_new_task" %></div>
<% if current_user.is_trainee? %>
  <%= form_for :task, url: course_tasks_path(@course.id,
    @course_subject.id), html: {method: :post}  do |f| %>
    <%= render "shared/error_messages", object: @course_subject %>

    <%= f.hidden_field :trainee_task, value: current_user.is_trainee? %>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_field :name, class: "form-control",
          required: true,
          placeholder: I18n.t("tasks.form.input_task_name") %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= f.file_field :avatar, class: "form-control" %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_area :description, class: "form-control",
          required: true,
          placeholder: I18n.t("tasks.form.input_task_description") %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= f.cktext_area :content, class: "ckeditor form-control",
          required: true,
          rows: 10 %>
      </div>
    </div>
    <br>
    <%= f.hidden_field :course_subject_id, value: @course_subject.id %>
    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <%= f.submit t("subjects.submit.create_task"),
          class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
<% end %>
<hr />

<div class="title"><%= t "subjects.task.had_not_assigned" %></div>
<div id="tasks">
  <table class="table table-striped tbl-task">
    <thead>
      <tr>
        <th class="redmine_id">
          <%= t "subjects.table.task_redmine_id" %>
        </th>
        <th class="task_name">
          <%= t "subjects.table.task_name" %>
        </th>
        <th class="task_progress">
          <%= t "subjects.table.task_progress" %>
        </th>
        <th class="task_status">
          <%= t "subjects.table.task_status" %>
        </th>
        <th class="estimated_time">
          <%= t "subjects.table.task_estimated_time" %>
        </th>
        <th class="spent_time">
          <%= t "subjects.table.task_spent_time" %>
        </th>
        <th class="update">
          <%= t "subjects.table.task_update" %>
        </th>
        <th class="assign_user">
          <%= t "subjects.table.task_assign" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "admin/subjects/unassign_task",
        collection: @unassign_tasks, as: :task %>
    </tbody>
  </table>
</div>
<hr />
