<%= render "shared/evaluation_tab", active_tab: Settings.tabs.evaluation_templete %>
<div id="evaluation-templates">
  <table id="evaluation-template-tbl" class="table table-bordered display"
    data-source="<%= admin_evaluation_templates_url format: "json" %>" >
    <thead>
      <tr class="active">
        <th></th>
        <th class="name"><%= t "table.thead.name" %></th>
        <th class="min-point"><%= t "table.thead.min_point" %></th>
        <th class="max-point"><%= t "table.thead.max_point" %></th>
        <th class="action"></th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

